* {
  box-sizing: border-box;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  height: 40px;
  width: auto;
  margin-left: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(107, 107, 107);
  height: 50px;
  align-items: center;
  width: 100%;
  padding: 3px 3px;
  color: rgba(255, 255, 255, 0.726);
}

.titulo {
  display: flex;
  flex-direction: row;
}

.titulo h1 {
  margin-left: 5px;
}

header .nav-header {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

header .nav-header li {
  padding: 0 10px;
  list-style-type: none;
}

header .nav-header a {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.795);
  text-decoration: none;
}

main {
  margin: 0px;
  display: grid;
  background-color: rgba(128, 128, 128, 0.493);
}

.indice-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 3px;
}

.indice-container div {
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  background-color: rgba(117, 116, 116, 0.733);
  margin: 1px;
  text-align: center;
  border-radius: 5px;
}

.dashboard-container {
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.dashboard-container div {
  display: grid;
  place-items: center;
  background-color: rgba(146, 146, 145, 0.685);
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
  border-radius: 5px;
}

.graph1 {
  grid-area: 1 / 1 / 3 / 3;
  width: 713px;
  height: 400px;
}

.articleFinance {
  grid-area: 3 / 2 / 4 / 4;
  height: 196px;
  width: 660px;
}

.graph_right {
  width: 300px;
  height: 196px;
}

.table_right {
  width: 300px;
  height: 196px;
}

.table1 {
  width: 95%;
  height: 90%;
  font-size: 24px;
}

main .dashboard-container .table1 .td1 p {
  display: grid;
  place-items: center;
  color: rgb(107, 107, 107);
  font-size: 16px;
  border-bottom: 1px solid rgba(138, 138, 138, 0.603);
  height: 25px;
}

main .dashboard-container .table1 .td2 p {
  display: grid;
  place-items: center;
  color: rgb(204, 204, 204);
  font-size: 18px;
  border-bottom: 1px solid rgba(138, 138, 138, 0.603);
  height: 25px;
}

#table_r5c1 p {
  color: rgb(107, 107, 107);
  font-size: 18px;
  border-bottom: 1px solid rgba(138, 138, 138, 0.603);
  height: 45px;
}

#table_r5c2 p {
  color: rgb(204, 204, 204);
  font-size: 18px;
  border-bottom: 1px solid rgba(138, 138, 138, 0.603);
  height: 45px;
}

.graph_bottom {
  width: 352px;
  height: 200px;
}

.graph_bottom p {
  color: rgba(59, 59, 59, 0.726);
  font-size: 14px;
  font-weight: bold;
}

#articleFinance {
  display: flex;
  height: 200px;
  align-items: stretch;
}

#articleFinance p {
  margin: 5px;
}

#articleFinance .articleLog {
  background-color: transparent;
  border-left: 1px;
  border-left-style: solid;
  border-left-color: rgba(117, 117, 117, 0.349);
  background-color: transparent;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: rgba(117, 117, 117, 0.349);
  border-radius: 0;
}

footer {
  height: 60px;
  background-color: grey;
}